@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #998989;
}

.header__grid {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3vh;
}

.header__icongrid{
    margin-left: auto;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.header__icongrid .MuiSvgIcon-root {
    font-size: 2.5vh;
    color: black;
}